
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<style>
    p {
        font-size: 30px;
       
    }
</style>

<h3 class="bg-success p-4 text-white">DashBoard</h3>
<div class=" d-flex justify-content-between  flex-wrap">
    <div class="card p-2 text-center bg-primary my-4" style="width: 22rem;">
        <i class="fas fa-chalkboard-teacher fa-3x "></i>

        <div class="card-body">
            <h5 class="card-title font-weight-bold">Number Of Teacher</h5>
            <p class="card-text">@ViewBag.dgr1</p>

        </div>
    </div>
    <div class="card p-2 text-center bg-primary my-4" style="width: 22rem;">
        <i class="fas fa-chalkboard-teacher fa-3x "></i>

        <div class="card-body">
            <h5 class="card-title font-weight-bold">Number Of Course</h5>
            <p class="card-text">@ViewBag.dgr2</p>

        </div>
    </div>
    <div class="card p-2 text-center bg-primary my-4" style="width: 22rem;">
        <i class="fas fa-chalkboard-teacher fa-3x "></i>

        <div class="card-body">
            <h5 class="card-title font-weight-bold">Number Of Student</h5>
            <p class="card-text">@ViewBag.dgr3</p>

        </div>
    </div>
    <div class="card p-2 text-center bg-primary my-4" style="width: 22rem;">
        <i class="fas fa-chalkboard-teacher fa-3x "></i>

        <div class="card-body">
            <h5 class="card-title font-weight-bold">Number Of Department</h5>
            <p class="card-text">@ViewBag.dgr4</p>

        </div>
    </div>
    <div class="card p-2 text-center bg-primary my-4" style="width: 22rem;">
        <i class="fas fa-chalkboard-teacher fa-3x "></i>

        <div class="card-body">
            <h5 class="card-title font-weight-bold">Number Of Admin</h5>
            <p class="card-text">@ViewBag.dgr5</p>

        </div>
    </div>
    <div class="card p-2 text-center bg-primary my-4" style="width: 22rem;">
        <i class="fas fa-chalkboard-teacher fa-3x "></i>

        <div class="card-body">
            <h5 class="card-title font-weight-bold">Computer Eng Students</h5>
            <p class="card-text">@ViewBag.dgr6</p>

        </div>
    </div>
</div>

