
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h3 class="bg-primary p-4 text-white">Informations</h3>
<table class="table table-hover">
    <tr>
        <td>TeacherName: <b>@Session["TeacherName"]</b> </td>
    </tr>

    <tr>
        <td>TeacherSurname: <b>@Session["TeacherSurname"]</b></td>
    </tr>
    <tr>
        <td>MobileNumber: <b>@Session["MobileNumber"]</b></td>
    </tr>
    <tr>
        <td>Email:<b>@Session["Email"]</b></td>
    </tr>

    <tr>
        <td>Gender:<b>@Session["Gender"]</b></td>
    </tr>
    <tr>
        <td>DepartmentName:<b>@Session["DepartmentName"]</b></td>
    </tr>
    <tr>
        <td>UserName:<b>@Session["UserName"]</b></td>
    </tr>
    <tr>
        <td>Password:<b>@Session["Password"]</b></td>
    </tr>
</table>
